body {
    background-color: linear-gradient (rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    height: 100vh;
    background-size: cover;
    background-position: center;
}

html, body {
    
    height:90%;
    margin:0;
}

.header {
    background-color: black;
    color: white;
    padding: 5px;
    height: 95px;
    text-align: left;
}

.header img{
    width: 80px;
    height:40px;
    float:left;
    
}
    

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#container {
    width: 1000px;
    margin: 100px auto;
}

#left {
    float: left;
    text-align: left;
    padding: 10px 80px;
    width: 400px;
 
}

#right {
    float: right;
    text-align: center;
    padding: 10px 20px;
    margin-top: 100px;
    width:400px;
    
}


img {
    display:block;
    margin-top:50;
    margin-left: auto;
    margin-right: auto; }

.login-page {
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: gainsboro;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: darkturquoise;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background-color: darkcyan;
    
}

.form .message{
    margin: 15px 0 0;
    color: gray;
    font-size: 12px;
}

.form .message a{
    color: darkturquoise;
    text-decoration: none;
    
}

.form .register-form{
    display: none;
    
}

.footer{
    color:black;
    clear: both;
    text-align: center;
    color: gray;
    height: 50px;
    background: black;
    padding: 5px;
}

.footer, .push {height: 60px;}


p {
    color:black;
    font-family: "Helvetica", sans-serif;
    font-size: 100%;
   
}

h1 {
    color: black;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 130%;
							}
